.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem 3rem;
  gap: 4rem;

  header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
}

.headText {
  font-size: 2.75rem;
  font-weight: 800;
  color: var(--black-color);
  text-transform: capitalize;

  span {
    color: var(--secondary-color);
  }

  @media screen and (min-width: 2000px) {
    font-size: 4rem;
  }

  @media screen and (max-width: 450px) {
    font-size: 2rem;
  }
}

.subtext {
  color: var(--gray-color);
  font-size: 1.1em;
  font-weight: 500;
}

.experiencesContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;

  details {
    &[open] summary ~ * {
      animation: toggle 0.25s ease-in-out;
    }

    @keyframes toggle {
      0% {
        opacity: 0;
        transform: translateY(-10px);
      }
      100% {
        opacity: 1;
        transform: translateY(0px);
      }
    }

    &[open] svg {
      transform: rotate(180deg);
    }

    &:hover {
      cursor: pointer;
    }

    summary {
      position: relative;
      padding: 0.5rem 0;
      display: flex;
      justify-content: space-between;

      list-style: none;

      &:focus {
        outline: none;
      }
    }

    summary svg {
      transition: all 0.3s ease;
    }
  }

  .summaryTitle {
    font-weight: 500;
    color: var(--secondary-color);
    user-select: none;
  }

  .summaryContent {
    padding: 1rem 0;
    border-top: 1px solid #e2e8f0;
    cursor: default;
  }
}

.experiencesNav {
  display: flex;
  gap: 4rem;
  font-size: 2em;
}

.experienceDuration {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  color: var(--gray-color);
}
