.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  gap: 4rem;

  header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
}

.headText {
  font-size: 2.75rem;
  font-weight: 800;
  color: var(--black-color);
  text-transform: capitalize;

  span {
    color: var(--secondary-color);
  }

  @media screen and (min-width: 2000px) {
    font-size: 4rem;
  }

  @media screen and (max-width: 450px) {
    font-size: 2rem;
  }
}

.subtext {
  color: var(--gray-color);
  font-size: 1.1em;
  font-weight: 500;
}

.experiencesContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.experiencesNav {
  display: flex;
  gap: 4rem;
  font-size: 2em;
}

.experienceItem {
  border-top: 5px solid var(--secondary-color);
}

.experienceDuration {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  color: var(--gray-color);
}
