.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  gap: 4rem;

  header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
}

.headText {
  font-size: 2.75rem;
  font-weight: 800;
  color: var(--black-color);
  text-transform: capitalize;

  span {
    color: var(--secondary-color);
  }

  @media screen and (min-width: 2000px) {
    font-size: 4rem;
  }

  @media screen and (max-width: 450px) {
    font-size: 2rem;
  }
}

.subtext {
  color: var(--gray-color);
  font-size: 1.1em;
  font-weight: 500;
}

.experiencesContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}

.experiencesNav {
  display: flex;
  gap: 4rem;
  font-size: 1.1em;

  span {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}

.experiencesContent {
  width: 60%;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  gap: 2rem;

  .experienceItem {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: hsla(0, 0%, 33%, 0.082);
    padding: 1rem;
    border-radius: 1rem;

    &:nth-child(even) {
      align-self: flex-start;
    }
    
    &:nth-child(odd) {
      align-self: flex-end;
    }

    details summary {
      cursor: pointer;
    }

    details p {
      margin-left: 1rem;
    }
  }
}

.centerLine {
  position: absolute;
  height: 100%;
  width: 4px;
  background: var(--secondary-color);
  left: 50%;
  top: 20px;
}

.experienceDuration {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  color: var(--gray-color);
}
