.navbar {
  width: 100%;
  position: fixed;
  z-index: 2;

  background: rgba(255, 255, 255, 0.251);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);

  ul {
    padding: 1rem 2rem;
  }
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 1rem;

  li {
    &:hover {
      span {
        background: var(--secondary-color);
      }
    }

    ::before {
      content: ' \25CF';
      font-size: 0.8rem;

      color: transparent;
      transition: all 0.3s ease-in-out;
    }

    a {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      font-weight: 500;
      text-transform: uppercase;

      color: var(--gray-color);
      transition: all 0.3s ease-in-out;

      &:hover,
      &:hover::before {
        color: var(--secondary-color);
      }
    }
  }

  @media screen and (max-width: 900px) {
    display: none;
  }
}

.menu {
  padding: 1rem 2rem;

  svg:hover {
    background-color: var(--secondary-color);
    color: white;
  }

  &:has(div) {
    & > svg {
      display: none;
    }

    & {
      padding: 0;
    }

    div svg {
      background-color: var(--primary-color);
      color: #000;
    }
  }

  aside {
    width: 18.75rem;
    height: 100vh;
    padding: 1rem 2rem;

    background: #fff url('../assets/bgIMG.png') repeat;
    background-size: cover;

    box-shadow: 0px 0px 20px rgba(168, 168, 168, 0.15);
  }

  svg {
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s;

    background-color: var(--secondary-color);
    color: white;
  }

  ul li {
    padding: 1rem 0;
  }

  @media screen and (min-width: 900px) {
    display: none;
  }
}
